<div class="container">
	<h1 class="jumbotron">
		Hello <%= @user.name %>
	</h1>
		<div class="user_posts">
			<% @posts.each do |p| %>
			<%= p.body %>
			<div class="post_comments">
				<% p.comments.each do |c| %>
				<%= c.body %>
				<% end %>
				<% end %>
			</div>
		</div>
</div>