<% if current_user %>
<%= form_for [@user, @post]  do |f| %>
  <%= f.label "title" %>
  <%= f.text_area :body, class: "form-control" %><br>
  <%= f.submit :submit %>
<% end %>
<% else %>
  <h1>Please Login</h1>
<% end %>

